.btn-generate {
    background-color: #0a2531;
    color: var(--color-bg);
    transition: .2s;
    box-shadow: none;
    height: 3em;
}

.btn-generate:focus {
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.btn-generate:focus:not(:active) {
    box-shadow: none;
}

.btn-generate:hover {
   background-color: var(--color-red);
   color: var(--color-bg);
   border-color: var(--color-red);
}

@media (max-width: 768px) {
    .btn-generate,
    .btn-generate:hover,
    .btn-generate:active {
        background-color:  var(--color-red);
        color: var(--color-bg);
        border-color: var(--color-red);
     }
}