.btn-generate {
    background-color: var(--color-btn);
    color: var(--color-bg);
    transition: .2s;
    box-shadow: none;
    line-height: 2.6em;
}

.btn-generate:focus {
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.btn-generate:focus:not(:active) {
    box-shadow: none;
}

.btn-generate:hover {
    background-color: var(--color-red);
    color: var(--color-bg);
    border-color: var(--color-red);
}

@media (max-width: 768px) {

    .btn-generate,
    .btn-generate:hover,
    .btn-generate:active {
        background-color: var(--color-red);
        color: var(--color-bg);
        border-color: var(--color-red);
    }
}

#cat {
    background: url('./../../img/cat.svg');
    margin-bottom: 20px;
    height: 94px;
    width: 158px;

    background-size: auto 100%;
    margin: 0 auto;
    z-index: 10;
    animation: sprite-animation 4s steps(17, end) infinite;
}

@keyframes sprite-animation {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -8116px 0;
    }
}