.btn-generate {
    background-color:  rgb(39, 61, 73);
    color: var(--color-bg);
    transition: .2s;
    box-shadow: none;
}

.btn-generate:focus {
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.btn-generate:focus:not(:active) {
    box-shadow: none;
}

.btn-generate:hover {
   background-color: var(--color-red);
   color: var(--color-bg);
}