.title-sign-in {
    color: rgb(39, 61, 73);
    font-weight: 600;
    font-size: 18px;
}

a.sign-in-link {
    transition: .3s;
}

a.sign-in-link:hover {
    color: var(--color-red);
}

.btn-login {
   background-color: rgb(45, 45, 49);
    color: var(--color-bg);
    transition: all .3s;
}

.btn-login:hover {
   background-color: rgb(15, 15, 17);  
   color: var(--color-bg);
}

.btn-login[disabled] {
    background-color:  rgba(39, 61, 73, 0.849);
    color: var(--color-bg);
}


.google-btn {
    line-height: 32px;
    margin: 12px auto;
    width: 200px;
    border-radius: 11px;
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 4px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    @media (min-width: 420px) {
      &:hover {
        background-color: black;
        cursor: pointer;
      }
    }

    .google-icon {
      font-size: 1.4em;
    }
  }

.forgot-password {
    font-size: 14px;
    color: blue;
    transition: .3s;
}

.forgot-password:hover {
    color: red;
    cursor: pointer;
}