.title-sign-in {
    color: rgb(39, 61, 73);
    font-weight: 600;
    font-size: 18px;
}

a.sign-in-link {
    transition: .3s;
}

a.sign-in-link:hover {
    color: var(--color-red);
}

.btn-login {
    background-color:  rgb(39, 61, 73);
    color: var(--color-bg);
    transition: .2s;
}


.btn-login:hover {
   background-color: var(--color-red);
   color: var(--color-bg);
}

.btn-login[disabled] {
    background-color:  rgba(39, 61, 73, 0.849);
    color: var(--color-bg);
}

.forgot-password {
    font-size: 14px;
    color: blue;
    transition: .3s;
}

.forgot-password:hover {
    color: red;
    cursor: pointer;
}